@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
  .skew {
    -webkit-transform: skewX(-45deg) translate3d(0, 0, 0);
    -moz-transform: skewX(-45deg) translate3d(0, 0, 0);
    -o-transform: skewX(-45deg) translate3d(0, 0, 0);
    -ms-transform: skewX(-45deg) translate3d(0, 0, 0);
    transform: skewX(-45deg) translate3d(0, 0, 0);
  }
}

@layer base {
  :root {
    --color-celadon-green: 47 132 124;
    --color-asda-green: 125 194 66;
  }
}

body {
  background-color: theme('colors.zinc.50');
  scrollbar-gutter: stable;
}