@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
  .skew {
    -webkit-transform: skew(-45deg) translate3d(0, 0, 0);
    -moz-transform: skew(-45deg) translate3d(0, 0, 0);
    -o-transform: skew(-45deg) translate3d(0, 0, 0);
    -ms-transform: skew(-45deg) translate3d(0, 0, 0);
    transform: skew(-45deg) translate3d(0, 0, 0);
  }
}

@layer base {
  :root {
    --color-celadon-green: 47 132 124;
    --color-asda-green: 125 194 66;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Lekton, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background-color: theme('colors.zinc.50');
  scrollbar-gutter: stable;
}